<div ng-controller="CollapseCrtl">
    <div class="row" style="padding-top: 50px;">
        <div class="col-md-6">
            <button class="btn btn-default center-block" ng-click="isCollapsedDonor = !isCollapsedDonor; isCollapsedHospital = true">Doador</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-default center-block" ng-click="isCollapsedDonor = true; isCollapsedHospital = !isCollapsedHospital">Hospital</button>
        </div>
    </div>

    <div style="padding-top: 50px;" collapse="isCollapsedHospital">
        <div class="well well-lg" data-ng-controller="LoginCtrl">
            <div class="alert alert-danger animated fadeIn" ng-show="loginerror">{{loginerror}}</div>
            <h1>Sign in Hospital</h1>
            <form ng-submit="loginHospital()" class="signin form-horizontal">
                <div class="form-group">
                    <label for="email" class="col-md-4 control-label">Email</label>
                    <div class="col-md-8">
                        <input required id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="hospital.email" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-4 control-label">Password</label>
                    <div class="col-md-8">
                        <input required id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="hospital.password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
                        <a ui-sref='auth.register' class="show-signup">Sign up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div style="padding-top: 50px;" collapse="isCollapsedDonor">
        <div class="well well-lg" data-ng-controller="LoginCtrl">
            <div class="alert alert-danger animated fadeIn" ng-show="loginerror">{{loginerror}}</div>
            <h1>Sign in Donor</h1>
            <form ng-submit="loginDonor()" class="signin form-horizontal">
                <div class="form-group">
                     <label for="email" class="col-md-4 control-label">Email</label>
                    <div class="col-md-8">
                        <input required id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="donor.email" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-4 control-label">Password</label>
                    <div class="col-md-8">
                        <input required id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="donor.password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
                        <a ui-sref='auth.register' class="show-signup">Sign up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>