<div ng-controller="CollapseCrtl">

    <div class="row" style="padding-top: 50px;">
        <div class="col-md-6">
            <button class="btn btn-default center-block" ng-click="isCollapsedDonor = !isCollapsedDonor; isCollapsedHospital = true">Doador</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-default center-block" ng-click="isCollapsedDonor = true; isCollapsedHospital = !isCollapsedHospital">Hospital</button>
        </div>
    </div>
    <div style="padding-top: 50px;" collapse="isCollapsedDonor">
        <div class="well well-lg" data-ng-controller="RegisterCtrl">
            <div ng-repeat="error in registerError">
                <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
            </div>
            <div class="alert alert-danger animated fadeIn" ng-show="usernameError">{{usernameError}}</div>

            <h1>Registro de Doador</h1>
            <form ng-submit="registerDonor()" class="signup form-horizontal">
                <div class="form-group">
                    <label for="name" class="col-md-4 control-label">Full Name</label>
                    <div class="col-md-8">
                        <input id="name" type="text" name="name" placeholder="Full name" class="form-control" ng-model="donor.name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-4 control-label">Email</label>
                    <div class="col-md-8">
                        <input id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="donor.email" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="col-md-4 control-label">Username</label>
                    <div class="col-md-8">
                        <input id="username" type="text" name="username" placeholder="Username" class="form-control" ng-model="donor.username" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-4 control-label">Password</label>
                    <div class="col-md-8">
                        <input id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="donor.password" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="col-md-4 control-label">Repeat Password</label>
                    <div class="col-md-8">
                        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Password" class="form-control" ng-model="donor.confirmPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" class="btn btn-primary">Sign up</button>&nbsp; or&nbsp;
                        <a ui-sref='auth.login' class="show-login">login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div style="padding-top: 50px;" collapse="isCollapsedHospital">
        <div class="well well-lg" data-ng-controller="RegisterCtrl">
            <div ng-repeat="error in registerError">
                <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
            </div>
            <div class="alert alert-danger animated fadeIn" ng-show="usernameError">{{usernameError}}</div>

            <h1>Registro de Hospital</h1>
            <form ng-submit="registerHospital()" class="signup form-horizontal">
                <div class="form-group">
                    <label for="name" class="col-md-4 control-label">Full Name</label>
                    <div class="col-md-7">
                        <input id="name" type="text" name="name" placeholder="Full name" class="form-control" ng-model="hospital.name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-4 control-label">Email</label>
                    <div class="col-md-7">
                        <input id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="hospital.email" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="cnpj" class="col-md-4 control-label">CNPJ</label>
                    <div class="col-md-7">
                        <input id="username" type="text" name="username" ng-pattern="/^\d{2}\.\d{3}\.\d{3}\/\d{4}\-\d{2}$/" placeholder="00.000.000/0000-00" class="form-control" ng-model="hospital.cnpj" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-4 control-label">Password</label>
                    <div class="col-md-7">
                        <input id="password" type="password" name="password" placeholder="Password" class="form-control" ng-model="hospital.password" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="col-md-4 control-label">Repeat Password</label>
                    <div class="col-md-7">
                        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Password" class="form-control" ng-model="hospital.confirmPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button type="submit" class="btn btn-primary">Sign up</button>&nbsp; or&nbsp;
                        <a ui-sref='auth.login' class="show-login">login</a>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>