<!-- adresses-add.html -->
<ion-view title="New Address">
	<ion-content has-header="true" padding="true">
	 	<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">What is this place for you?</span>
		    <input type="text" placeholder="E.g: Home, Work, John's house, ...">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Enter the address:</span>
		    <input type="text" placeholder="E.g: 1440, Alarm clock st.">
		  </label>
		</div>
		<ion-content scroll="false" data-tap-disabled="true" ng-controller="MapCtrl">
	      <div id="map"></div>
	    </ion-content>
	</ion-content>
</ion-view>