<!-- edit-alarm.html -->
<ion-view title="Edit">
    <ion-content class="has-header">
    	<div class="list">
    		<div class="item">
                <label class="item item-input item-text-wrap">
                    <input type="text" placeholder="Alarm name..." ng-model="input.title">
                </label>
            </div>
            <div class=" item">
    			<div class="card item item-input">
        		    <textarea style="min-height: 100px;" class="" id="note" placeholder="Note..."></textarea>
 		       </div>
    		</div>
    		<div class="item">
    			<label class="item item-input item-select item-text-wrap">
	                <div class="input-label">
	                    Adress
	                </div>
	                <select ng-model="input.ad" data-ng-options="a.local for a in adresses"></select>
            	</label>   
    		</div>
    		<div class="card item item-input">
            <div class="input-label">
                    Escolha o alarme:
            </div>
        <div>
            <select  ng-model="data.nomeSom">
                  <option value="song1" selected>Song 01</option>
                  <option value="song2">Song 02</option>
                  <option value="song3">Song 03</option>
            </select>
            <button ng-click="playSound()">Ouvir</button>
        </div>
        </div>
    		<div class=" item">
				<button class="button button-block button-light" ng-click="updateAlarm()">
					Update
				</button>
				<button class="button button-block button-light" ng-click="removeAlarm()">
					Delete Alarm
				</button>
			</div>
    	</div>
    </ion-content>
</ion-view>
