<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Pets Tab -->
  <ion-tab title="Alarmes" icon="icon ion-ios7-alarm" href="#/tab/alarms">
    <ion-nav-view name="alarms"></ion-nav-view>
  </ion-tab>


  <!-- Adopt Tab -->
  <ion-tab title="Endereços" icon="icon ion-android-location" href="#/tab/adresses">
    <ion-nav-view name="adresses"></ion-nav-view>
  </ion-tab>


</ion-tabs>
